<div class="row" id="projetos">
    <div id="chart">
	<h> olha o gustavo lima aí ó </h>
	<h1> olha o gustavo lima aí ó </h1>
	<h2> olha o gustavo lima aí ó </h2>
	<h3> olha o gustavo lima aí ó </h3>
    </div>
    
    <script>

      var url = '/userapi/'; //url das informações do usuario
      
      var xmlhttp = new XMLHttpRequest();         
      xmlhttp.open('GET',url, true);              //config. da requisição XMLHTTP

      xmlhttp.onreadystatechange = function() {    //função que vai checar se ta tudo certo e se estiver coleta e processa os dados
        if (this.readyState == 4 && this.status == 200) {
          var RespostaColetada = JSON.parse(this.responseText);
          processamento(RespostaColetada);                 //chamada da função que vai processar os dados coletados (declarada mais a frente no código)
        }
      };
      xmlhttp.send();                                      //envio dos dados requisitados

      function processamento(dados){
        var DadosUsuario = JSON.parse(dados);
        console.log(dados);
      }


        
        
    </script>
   
    </div>